<?xml version="1.0"?>
<!--
	base
	laser:hokuyo
	IMU
-->
<robot name="xiaoqiang_robot" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:include filename="$(find xiaoqiang_udrf)/robots/xiaoqiang.urdf.xacro"/>
  <!-- <xacro:include filename="$(find mygazebo)/urdf/mycar_laser.urdf.xacro"/> -->
<!--  <xacro:include filename="$(find mygazebo)/urdf/mycar_kinect.urdf.xacro"/>-->
  <xiaoqiang_urdf/>
 
<!--  <smartcar_kinect/>-->

</robot>






