<?xml version="1.0"?>
<!--
	base
	laser:hokuyo
	IMU
-->
<robot name="smartcar" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:include filename="$(find mygazebo)/urdf/mycar_base.urdf.xacro"/>
  <xacro:include filename="$(find mygazebo)/urdf/mycar_laser.urdf.xacro"/>
<!--  <xacro:include filename="$(find mygazebo)/urdf/mycar_kinect.urdf.xacro"/>-->
  <smartcar_base/>
  <smartcar_laser/>
<!--  <smartcar_kinect/>-->

</robot>






