<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!-- gazebo 和 rviz； 打开自己的world 和 temp.rviz 配置; 主要是用于提供机器人本身的数据 -->
    <include file="$(find mygazebo)/launch/myrosbot_launch/myrosbot_gazebo_rviz.launch">
    <arg name="rvizConfig" value="$(find mygazebo)/rviz/temp.rviz"/>
    <!-- "$(find rosbot_gazebo)/worlds/turtlebot_playground.world" -->
    <!-- <arg name="mygWorld" value="$(find mygazebo)/worlds/house_2room.world"/> -->
    </include>


</launch>
