<launch>
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>

  
  <!-- temp -->
  <arg name="id_robot" default="robot"/>
  <arg name="prefix" default="$(arg id_robot)_"/>
  <arg name="kinova_arm" default="j2s7s300"/>
  <arg name="arm_prefix" default="$(arg prefix)$(arg kinova_arm)"/>

  <arg name="rvizConfig" default=" $(find xrobot_description)/rviz/model.rviz" />
  <!-- 更改机器人模型和世界模型，其中机器人模型包括了gazebo插件以及标签 -->
  <!-- model -->
  <!-- <arg name="urdf_file" default="$(find xrobot_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/> -->
  <arg name="urdf_file" default="$(find xrobot_description_summit_xl)/robots/summit_xl_std.urdf.xacro"/>
  <!-- world -->
  <!-- <arg name="worldName" default="$(find mygazebo)/worlds/house_2room.world"/> -->
  <!-- <arg name="worldName" default="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/> -->
  <arg name="worldName" default="$(find turtlebot3_gazebo)/worlds/empty_world.world"/>



  <!-- 模型解析，rviz显示 -->
  <include file="$(find xrobot_bringup)/launch/xrobot_model.launch">
    <arg name="urdf_file" value="$(arg urdf_file)"/>
    <arg name="rvizConfig" value="$(arg rvizConfig)"/>
  </include>
  
  <!-- 加载世界模型，以及把机器人模型解析成gazebo可显示模型 spawn_model-->
  <rosparam file = "$(find xrobot_gazebo)/config/gazebo_param.yaml" command ="load"/>cd
  <include file="$(find xrobot_gazebo)/launch/xrobot_empty_world.launch">
    <arg name="worldName" value="$(arg worldName)"/>
    <arg name="x_pos" default="$(arg x_pos)"/>
    <arg name="y_pos" default="$(arg y_pos)"/>
    <arg name="z_pos" default="$(arg z_pos)"/>
  </include>
  <!-- gazebo 模型解析 -->
  <!-- <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model $(arg urdf_file) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" /> -->
  <node name="urdf_spawner_summit_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-x $(arg x_pos)
          -y $(arg y_pos)
          -z $(arg z_pos)
          -J $(arg arm_prefix)_joint_1 0.0
          -J $(arg arm_prefix)_joint_2 2.9
          -J $(arg arm_prefix)_joint_3 0.0
          -J $(arg arm_prefix)_joint_4 1.3
          -J $(arg arm_prefix)_joint_5 -2.07
          -J $(arg arm_prefix)_joint_6 1.4
          -J $(arg arm_prefix)_joint_7 0.0
          -J $(arg arm_prefix)_joint_finger_1 0.0
          -J $(arg arm_prefix)_joint_finger_2 0.0
          -J $(arg arm_prefix)_joint_finger_3 0.0
          -J $(arg arm_prefix)_joint_finger_tip_1 1.0
          -J $(arg arm_prefix)_joint_finger_tip_2 1.0
          -J $(arg arm_prefix)_joint_finger_tip_3 1.0
          -urdf
          -param robot_description
          -model $(arg id_robot)" />
    <include file="$(find xrobot_gazebo)/launch/include/summit_xl_controller_.launch">
      <arg name="id_robot" value="$(arg id_robot)"/>
    </include>
  
</launch>
