<launch>
    <master auto="start"/>

    <include file="$(find mygazebo)/launch/mycar_laser01.launch"/>
    <!-- Run the map server -->
    <arg name="map_file" default="$(find mygazebo)/map/map01.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
    <!--- Run AMCL -->
    <include file="$(find amcl)/examples/amcl_diff.launch" />
    <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
          args="0 0 0 0 0 0 /map /odom 0.1"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
          args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /laser 40" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
<!--        <rosparam file="$(find myrobot_navigation)/yaml/costmap_common_params.yaml" command="load" ns="global_costmap" />-->
<!--        <rosparam file="$(find myrobot_navigation)/yaml/costmap_common_params.yaml" command="load" ns="local_costmap" />-->
        <rosparam file="$(find myrobot_navigation)/yaml/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find myrobot_navigation)/yaml/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find myrobot_navigation)/yaml/base_local_planner_params.yaml" command="load" />
    </node>
</launch>