<launch>
    <master auto="start"/>
    <!-- <arg name="mapName"  default ="$(find myrobot_navigation)/maps/slam_02room/slam_02room.yaml" /> -->
    <include file = "$(find mygazebo)/launch/include/myrobot_rviz.launch">
        <!-- <arg name ="rvizConfig" value ="$(find myrobot_laser_slam)/rviz/nav_slam.rviz" /> -->
        <arg name ="rvizConfig"  value ="$(find myrobot_navigation)/rviz/nav_slam.rviz"/>
    </include>
</launch>